In [1]:
a = 5
b = "10"
print(a + int(b))
print(str(a) + b)

15
510

In [28]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(6))

8

In [5]:
def foo(x=[]):
  x.append(1)
  return x
print(foo())
print(foo())
print(foo())

[1]
[1, 1]
[1, 1, 1]

In [7]:
def foo(x):
  return x + 1
result = map(foo, [1,2,3,4,5])
print(list(result))

[2, 3, 4, 5, 6]

In [10]:
def foo(x, y=[]):
  y.append(x)
  return y
print(foo(1))
print(foo(2))

[1]
[1, 2]

In [8]:
def bar(a, b=2, c=3):
  print(a,b,c)
bar(1)
bar(1,4)
bar(1,c=5)

1 2 3
1 4 3
1 2 5

In [9]:
s = set('CLC')
t = list(s)
t = t[::-1]
print(t)

['L', 'C']

In [27]:
g = (1,2,3)
h = (1,2,3)
print(f"g is h: {g is h}")
print(f"g == h: {g ==h}")

g is h: False
g == h: True

In [11]:
def func(x, y=5, z=10):
  return x + y + z
result = func(3, z=7)
print(result)

15

In [13]:
def outer_function(x):
  def inner_function(y):
    return x + y
  return inner_function
result = outer_function(5)(3)
print(result)

8

In [14]:
s1 = {1 and 2 }
s2 = {1 or 3 }
result = s1 ^ s2
print(result)

{1, 2}

In [15]:
my_tuple = (1,2,3)
x, y, z, *rest = my_tuple
print(x, y, z, rest)

1 2 3 []

In [16]:
a = [1,2,3,4]
b = [1,2,5]
print(a<b)

True

In [17]:
def some_func(a, b, c=0, d=1):
  return a+b+c+d
result = some_func(1, 2, d=4)
print(result)

7

In [20]:
for i in range(1, 5):
  print(i, end='-')

1-2-3-4-

In [22]:
s = 'python'
index = s.find('n', -1)
print(index)

5

In [23]:
years = 5
if True or False:
  years  = years + 2
print(years)

7

In [26]:
print([]*5)

[]

In [29]:
a = 20 or 40
if 30 <= a <= 50:
  print('Hello')
else:
  print('Hi')

Hi

In [30]:
my_string = "hello, world!"
substring = my_string[2:7]
print(substring)

llo,